<div class="container" id="cont">
    <h1> Profil </h1>
    <div id="card">
        <span> Nom : </span> <label> {{ user.name }}</label> <br>
        <span> E-mail : </span> <label>{{ user.email }}</label>
    </div>
</div>
    <!-- <div class="row">
        <div class="col-sm-8 mx-auto">
            <h1 class="text-center"> Profil </h1>
        </div>
        <table class="table col-md-8 mx-auto">
            <tr>
                <td> Nom </td>
                <td> {{ user.name }} </td>
            </tr>
            <tr>
                <td> E-mail </td>
                <td> {{ user.email }} </td>
            </tr>
        </table>
    </div>
</div> -->